<div class="maps">
  <h2>Maps</h2>
  <div class="row user-map">
    <% @user.maps.each do |map| %>
      <div class="map four columns">
        <h4><%= link_to map.title, user_map_path(@user, map) %></h4>
        <p><%= map.description %></p>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="map four columns">
      <h4><%= new_user_map_link %></h4>
      <p>Create a new map to tell the where of your story.</p>
    </div>
  </div>
</div>
