<% content_for :title, "Our Places, Our Atlases" %>
<div class="intro details row clearfix">
  <h2>"We shall not cease from exploring"</h2>
  <div class="info six columns tell-the-where">
    <h4 tk-alternate-gothic-no-1-d>Tell the "where" of your story.</h4>
  </div>
  <div class="example">
    View a map based on "Paris I Love You, but You're Bringing Me Down"
  </div>
</div>

<div class="historical details row clearfix">
  <h2>"And the end of all our exploring"</h2>
  <div class="info six columns connect-history">
    <h4 tk-alternate-gothic-no-1-d>Connect history to the present.</h4>
  </div>
  <div class="example">
    View a map based on the Invasion of Normandy
  </div>
</div>

<div class="register details row clearfix">
  <h2>"Will be to arrive where we started"</h2>
  <div class="info six columns get-started">
    <h4 tk-pragmatica-web-condensed>Get started telling your story with gocotoco.</h4>
  </div>
</div>

<div class="final details row clearfix">
  <h2>"And know the place for the first time"</h2>
</div>

<%= link_to "New User", new_user_path %>
<%= link_to "Users", users_path %>