<h4>Existing Events</h4>
<div class="events">
<% @existing_events.each do |event| %>
  <div class="event">
    <h5 class="event-title"><%= truncate(event.title, :length => 35, :separator => ' ', :omission => '...') %></h5>
    <span class="event-location"><%= event.place_name %></span>
  </div>
<% end %>
</div>