body {
  color: #434343;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #6cc1d3;
  text-decoration: none;
}

  a:hover {
    color: #5d5d5d;
  }


#map-canvas, #street-view, #map-canvas-application {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -100;
}

/*
=Header styles
*/

header {
  background: url(/assets/cream_dust.png);
  border-bottom: 3px rgba(93,93,93,.3) solid;
  padding: 5px 0 5px 0;
  width: 100%;
}

nav ul {
  display: inline;
  font-size: 1.4em;
  margin: 0;
  padding-right: 1.9%;
}

nav ul li {
  border-right: 1px #888 solid;
  display: inline;
}

nav a {
  color: #6cc1d3;
  padding-left: 2%;
  padding-right: 2%;
}

#show-hide-link {
  float: right;
  text-align: right;
  width: 30%;
}

/*
=index styles
*/

.intro-boxes {
  height: 900px;
}

.intro-boxes, .intro-boxes a {
  color: #6cc1d3;
}

.details {
  float: left;
  height: 100%;
  padding: 1em 0.5%;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 24%;
}

.details h2{
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.info h4 {
  color: #6cc1d3;
  font-size: 6.5em;
  height: 700px;
  line-height: 0.9em;
}

.example {
  background: rgba(0,0,0,.8);
  height: 80px;
  font-size: 1.5em;
  padding: 10px;
}

.intro {
  background: url(/assets/vince-young-2005.jpg);
}

.historical {
  background: url(/assets/NormandySupply.jpg);
}

.register {
  background: url(/assets/brooklyn-bridge.jpg);
}

.final {
  background: url(/assets/big-bend.jpg);
}

/*
=login and input styles
*/

.login-info {
  margin-top: 5%;
}

.input-field {
  font-size: 2em;
  padding: 10px 0;
}

.input-field input{
  border: 0px;
  font-size: 2em;
}

.input-field select {
  border: 0px;
  font-size: 1.2em;
}

.input-field textarea {
  border: 2px solid #ffa554;
  font-size: 1.5em;
  height: 200px;
}

.input-field input, .input-field textarea {
  border-bottom: 2px solid #ffa554;
  color: inherit;
  width: 100%;
}

.input-field label {
  display: block;
  padding: 5px 0;
}

.input-field.optional label:after {
  content: "(This field optional)";
  float: right;
  font-size: .5em;
}