h4 {
  border-bottom: 1px solid #6cc1d3;
}

.found-place {
  border-left: #5d5d5d 1px dotted;
  border-right: #5d5d5d 1px dotted;
  margin-bottom: 10px;
}

.found-place h3 {
  margin-bottom: 2px;
}

.select-link {
  background: #6cc1d3;
}

.no-places-found {
  background: #ff7526;
}

.select-link, .no-places-found {
  font-size: 1.8em;
  margin-top: 10px;
  text-align: center;
}

.select-link a, .no-places-found a {
  color: #fff;
  display: block;
}

.input-field #year {
  font-size: 1.2em;
  width: 180px;
}