/*
=map styles
*/

#map-canvas {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -100;
}

.marker-image {
    height: 45px;
    margin-left: -16px;
    margin-top: -30px;
    pointer-events: all;
    position: absolute;
    width: 43px;
}

/*
=event styles (sidebar)
*/

.events {
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 18%;
}

.event {
  border-bottom: 1px #888 solid;
  cursor: pointer;
  padding: 2%;

  /* Prevent selection (because it looks bad) */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.event.selected {
  background-color: rgba(74, 217, 217, 0.8);
}

/*
=event details styles
*/

.event-details {
  height: 94%;
  margin-left: 20.5%;
  margin-right: 3.5%;
  position: absolute;
  width: 76%;
}

.event-description {
  background: #fff;
  height: 40%;
  width: 100%;
}

.event-photo {
}