/*
=map styles
*/

.marker-image {
    height: 45px;
    margin-left: -16px;
    margin-top: -30px;
    pointer-events: all;
    position: absolute;
    width: 43px;
}

/*
=event styles (sidebar)
*/

.events {
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  height: 15%;
  left: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  white-space: nowrap;
  width: 100%;
}

.event {
  border-right: 1px #888 solid;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: 2%;
  position: relative;

  /* Prevent selection (because it looks bad) */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.event h3 {
  font-size: 2em;
}

.event.selected {
  background-color: rgba(74, 217, 217, 0.8);
}

/*
=event details styles
*/

.event-details {
  height: 64%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  position: absolute;
  width: 69%;
}

.event-description {
  background: #fff;
  height: 30%;
  overflow: auto;
  width: 100%;
}

.event-photo {
  height: 68%;
  margin-bottom: 2%;
  overflow: hidden;
  width: 100%;
}

.event-photo img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* For jQuery */
.invisible {
  display: none;
}