/*
=map styles
*/

.container.maps-show {
  padding: 0;
}

.marker-image {
    height: 80px;
    margin-left: -45px;
    margin-top: -80px;
    pointer-events: all;
    position: absolute;
    width: 80px;
}

.map-details {
  background:rgba(108, 193, 211, 1);
  padding-left: 20px;
}


.map-details h2 {
  color: #fff;
  padding-bottom: .5%;
}

/*
=event styles (sidebar)
*/

.events {
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 1px rgba(108, 193, 211, 1) solid;
  bottom: 0;
  /*Font size here and below to avoid spaces between elements.*/
  font-size: 0;
  height: 15%;
  left: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  white-space: nowrap;
  width: 100%;
}

.event {
  border-right: 1px #888 solid;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 100%;
  padding: 1%;
  position: relative;

  /* Prevent selection (because it looks bad) */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.event h3 {
  font-size: 2em;
}

.event.selected {
  background-color: rgba(108, 193, 211, 0.8);
}

/*
=event details styles
*/

.event-details {
  height: 64%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  position: absolute;
  width: 91%;
}

.event-description {
  background: #fff;
  border: 1px rgba(108, 193, 211, 1) solid;
  float: left;
  max-height: 95%;
  margin: 2% 2% 2% 0;
  overflow: auto;
  padding: 1% 2%;
  width: 27%;
}
  .event-description h1 {
    border-bottom: #6cc1d3 solid 1px;
    font-size: 3em;
  }

  .event-description p {
    font-size: 1.2em;
  }

.event-photo {
  float: left;
  height: 100%;
  margin: 2%;
  overflow: hidden;
  width: 61%;
}

.event-photo img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* For jQuery */
.invisible {
  display: none;
}

@media only screen and (max-width: 900px){
  .event-photo {
    max-height: 50%;
    width: 96%
  }

  .event-description {
    max-height:  35%;
    width: 96%;
  }
}