.signup-quote {
  margin-top: 15px;
  text-align: center;
}

.signup-quote h3 {
  color: #838383;
}

/*
=show user styles
*/

.user-details div {
  font-size: 1.5em;
}

.add-new-map a {
  font-size: .8em;
}

.map {
  border: #5d5d5d dashed 1px;
  height: 150px;
  overflow: hidden;
  padding: 4px;
}

.map p {
  font-size: 1em;
}

.maps {
  margin-bottom: 1%;
}